<div class="container">
  <h1>Enter the details below</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :picture, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
